@import "screen.css";

body {
  font-size: 80.5%;
  background: #FDFDFD;
}
@font-face {
    font-family: "Nevis";
    src: url(nevis.ttf);
}
.clear{
  clear: both;
}
#header{
  background: #F1F1F1;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#F1F1F1));
  background: -moz-linear-gradient(top, #FFFFFF, #F1F1F1);
  height: 100px;
  border-bottom: 3px solid #91BD09;
  margin-bottom: 20px;
  -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
}
#main{
  overflow-x:hidden;
  width: 70%;
  background: white;
  float: left;
  margin-left: 8px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border: 1px solid #E1E1E1;
  padding: 0px;
  /* -webkit-box-shadow: 3px 0px 2px rgba(0,0,0,0.1); */
}
.nav{
  width: 100%;
  overflow: hidden;
  -webkit-box-sizing: content-box;
  background: #E1E1E1;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F1F1F1), to(#E1E1E1));
  background: -moz-linear-gradient(top, #F1F1F1, #E1E1E1);
  height: 40px;
  border-bottom: 1px solid #D1D1D1;
  position: relative;
  float: left;
}

#quickbar{
  background: white;
  margin-left: 69%;
  margin-right: 10px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border: 1px solid #E1E1E1;
}
.nevis{
  font-family: "Nevis"; 
  font-size: 30px;
}

.logo{
  margin:0 auto;
  width: 600px;
  height: 100px;
  font-size: 50px;
  font-family: "Nevis";
}
.popup{
  -webkit-box-sizing: content-box;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border:5px solid #91BD09;
  margin:0 auto;
  -webkit-box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  background: white;
}
#loginbox{
  position: absolute;
  font-size: 18px;
  width: 400px;
  top: 100px;
  left: 50%;
  margin-left:-200px;
  padding: 0px;
}
#loginbox input[type="submit"]{
  padding: 10px 25px 10px 25px;
}
#loginbox form{
  padding: 20px 20px 20px 20px;
}
.popup .header{
  font-size: 25px;
  display:block;
  background: #F1F1F1;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#F1F1F1));
  background: -moz-linear-gradient(top, #FFFFFF, #F1F1F1);
  padding:10px 10px 5px 10px;
  margin:0px;
  border-bottom: 1px solid #D2D2D2;
  color: #52595D;
  text-shadow: rgba(255,255,255,0.9) 1px 1px 0px;
}
#loginbox label{
  font-size: 16px;
}
#loginbox input[type="text"], #loginbox input[type="password"]{
  width: 96%;
}
/* default links */
a{
  text-decoration: none;
  cursor: pointer;
  color: #A2A2A2;
  font-size: 16px;
}
/* tabs */
ul.tabs{
  position: absolute;
  margin-top: 5px;
  
}
ul.tabs li{
  list-style-type: none;
  display: inline;
}
ul.tabs ul.sub{
  float: left;
}
ul.tabs li a{
  display: block;
  padding: 5px 10px 5px 10px;
  float: left;
}
ul.tabs li:not(.sub) a{
  margin-right: -1px;
  color: #4b5052;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
  padding:5px 10px 5px 10px;
  display: block;
  height: 20px;
  float: left;
  border: 1px solid #c3c3c3;
  background: #F7F7F7;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F7F7F7), to(#E9E9E9));
  background: -moz-linear-gradient(top, #F7F7F7, #E9E9E9);
  -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}
ul.tabs li a:hover{
  background: #E9E9E9;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E9E9E9), from(#F7F7F7));
  background: -moz-linear-gradient(top, #E9E9E9,#F7F7F7);
}
ul.tabs li a:active, ul.tabs a.current{
  background: #D9D9D9;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E7E7E7), to(#D9D9D9));
  background: -moz-linear-gradient(top, #E7E7E7,#D9D9D9);
}
ul.tabs li:first-child a{
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-left: 1px solid #c3c3c3;
}
ul.tabs li:last-child a{
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
}
/* forms */
input[type="text"], input[type="password"]{
  border:1px solid #C7C7C7;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-box-shadow: inset 0px 2px 3px rgba(0,0,0,0.2);
  font-size: 25px;
  padding: 5px;
  margin-left:0px;
  margin-right: 0px;
}
form.search{
  position: absolute;
  top: 0px;
  right: 10px;
}
form.search input[type="text"]{
  background-image: url(../icons/magnify.png);
  background-position: 96% center;
  background-repeat: no-repeat;
  padding-right: 25px;
}
input:focus[type="text"], input:focus[type="password"]{
  border:1px solid #C7C7C7;
}
input[type="submit"]{
  text-decoration: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  text-shadow: -1px -1px 0px rgba(0,0,0,0.2),1px 1px 0px rgba(0,0,0,0.2);
  padding:5px 10px 5px 10px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  font-weight:bold;
  -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.2); 
  -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.2); 
  box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
}
label{
  color: #52595D;
}
input:active[type="submit"]{
  top: 1px;
  position:relative;
}
input.gray{
  text-shadow: none;
  color: #333;
  text-shadow: 1px 1px 0 white;
  border: 1px solid rgba(0,0,0,0.1);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F7F7F7), to(#E9E9E9));
  background: -moz-linear-gradient(top, #F7F7F7, #E9E9E9);
}
input.gray:hover{
  background: #E9E9E9;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E9E9E9), to(#F7F7F7));
  background: -moz-linear-gradient(top, #E9E9E9, #F7F7F7);
  color: #4b5052;
}
input.green{
  background: #C4ED68;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#C4ED68), to(#91BD09));
  background: -moz-linear-gradient(top, #C4ED68, #91BD09);
  border:1px solid #9ED54C;  
}
input.red{
  background: #E62727;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F64747), to(#e62727));
  background: -moz-linear-gradient(top, #F64747,#E62727);
  border: 1px solid #e62727;
}
input.green:hover, input.red:hover{
  color: white;
  opacity: 0.8;
}

/* inactive button */
input[disabled],input:active[disabled],input:hover[disabled]{
  opacity: 0.5;
  top: 0px;
}
/* end of inactive button */
.right{
  text-align: right;
}
/* flash messages */
.error, .notice, .success{
  border-left: none;
  border-right: none;
  border-top: none;
  margin-top: 0px;
}

